html {
  background-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, #facd8a 100%);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 1000px;
  margin-left: 15px auto;
  padding: 15px 1.5em;
  border: 1px #ff0000be;
  border-radius: 25px;
  box-shadow: 5px 5px 0 0 crimson;
  background: url("background-image");
  background-attachment: fixed;
  background-color: rgb(0, 0, 0);
}
a:focus,
a:hover {
  font-style: italic;
  color: rgb(235, 190, 100);
}
header h1 {
  font-size: 175%;
  color: rgb(255, 0, 0);
  text-indent: 30px;
}
header h2 {
  font-size: 130%;
  color: #ff0000;
  text-indent: 30px;
}
header img {
  float: left;
}
.shadow {
  text-shadow: 2px 2px 2px rgb(255, 0, 0);
}
main {
  clear: left;
}
main h3 {
  margin-top: 1.5em 2em 1.5em;
  border: 5px dashed burlywood;
  border-radius: 20px;
  box-shadow: 3px 3px 4px 4px crimson;
  padding: 1em;
  font-size: 105%;
}
main nav{
margin: 1.5em 2em 1.5em;
border: 5px dashed burlywood;
border-radius: 20ox;
box-shadow: 3px 3px 4px 4px  rgb(255, 255, 255);
padding: 0.5em;
}
main div.contact{
margin: 1.5em 2em 1.5em;
border: 5px dashed burlywood;
border-radius: 20ox;
box-shadow: 3px 3px 4px 4px (crimson);
padding: 1em;
}

#list {
  line-height: 1.5em;
}
footer p.copyright {
  text-align: center;
  font-size: 80%;
}